@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
 
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.styles_badge__NCtKL {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  transform: translateX(-20px) translateY(12px);
  border: 3px solid #1c1c1c;
  border-radius: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway, Helvetica, arial, sans-serif;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.series_thumbnails{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  overflow: hidden;

}

.series_thumbnails img:first-of-type {
  transform: scale(.9) translateX(100px);
}
.series_thumbnails img:nth-of-type(2) {
  z-index: 3;
}

.series_thumbnails img:last-of-type {
  transform: scale(.9) translateX(-100px);
}

@media (min-width: 1200px) {
  .series_thumbnails img {
      max-width: 200px;
      height: 290px;
      width: auto;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 15px;
  }
}